
#content {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:1400px; 
	height:98%;
}

/* List of timers */
#list-of-timers {
  position: fixed;
  right: 0;
  top:20%;
  width: 350px;
  margin-top: -2.5em;
}

/* List of activities */
#activities {
    margin-top: 4.5%;
    width: 1200px;
}

/* Help */
#help {
    margin-top: 4.5%;
}

/* Statistics */
#statistics {
    margin-top: 4.5%;
}

/* Timers */
#add-timer {
    margin-top: 4.5%;
    width: 1200px;
}

#jsalarmclock{
font-family: Tahoma;
font-weight: bold;
font-size: 20px;
}

#jsalarmclock div{
margin-bottom: 0.8em;
}

#jsalarmclock div.leftcolumn{
float: left;
width: 150px;
font-size: 20px;
clear: left;
}

#jsalarmclock span{
margin-right: 5px;
}

/* ---------------------------- */
